SECRET_KEY=your-secret-key
NAME=postgres
USER=postgres
PASSWORD=your-password
HOST=db
PORT=5432
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
STRIPE_SECRET_KEY=your-stripe-key